/*
  super hirako system
  css file
  20180717
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

/*
  general
*/

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /* padding: 5px 25px; */
  font-size: 18px;
  /* margin: 0; */
  margin: 0 auto !important;
  color: #444;
  max-width: 1200px;
}

.ta_rt{
  text-align: right;
}

.ta_c{
  text-align: center;
}


/*
  individual setting
*/

/*
  index.php
*/
#header_title {
  font-size: xx-large;
  font-weight: bold;
  vertical-align: bottom;
  height: 80px;
}

#header_menu{
  vertical-align: bottom;
}

.search_form{
  /* background-color: #bae4f5; */
  width: 50%;
  margin: 0 auto;
  padding: 10px 40px;
  margin-bottom: 10px;
}

#tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
    border-collapse: collapse;
    border:1px solid #c3c3c3;
    padding: 4px 12px;
}

#tbl-bdr table {
  width:100%;
}

#tbl-bdr th {
  background-color: #c3c3c3;
  /* width: 30%; */
}


.result_wrap {
  width: 60%;
  margin: 0 auto;
}


/*
  detail.php
*/
.detail_result table{
  width: 100%;
}
.detail_result th{
  width:30%;
}
.detail_result {
  margin-top: 50px;
}
